@if(book){
<div class="container py-5">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <img
          [src]="book.coverImage | slice : 12"
          class="card-img-top"
          alt="Book Image"
        />
      </div>
    </div>
    <!-- Book Details -->
    <div class="col-md-6">
      <h1 class="h2 mb-3">{{ book.title | uppercase }}</h1>
      <span>By {{ book.author }}</span>
      <div class="mb-3">
        <ul type="none">
          <li class="m-2">Description : {{ book.description }}</li>
          <li class="m-2">Author : {{ book.author }}</li>
          <li class="m-2">Publication Year : {{ book.publicationYear }}</li>
          <li class="m-2">Genre : {{ book.genre }}</li>
        </ul>
      </div>

      <div class="d-grid gap-2">
        <button
          class="btn btn-primary"
          type="button"
          [routerLink]="['/editBook/', id]"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</div>
}
