<app-card>
  @if(book){
  <div class="content">
    <div class="left">
      <img [src]="book.cover_image" />
    </div>
    <div class="right">
      <div class="title">
        <h2 align="center">{{ book.title }}</h2>
        <span align="center">By {{ book.author }}</span>
      </div>
      <ul type="none">
        <li>Description : {{ book.description }}</li>
        <li>Author : {{ book.author }}</li>
        <li>Publication Year : {{ book.publication_year }}</li>
        <li>Genre : {{ book.genre }}</li>
      </ul>
    </div>
  </div>
  }
</app-card>
