.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:#7b006b;
    height: 13vh;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  .title{
    color: white;
  }
  
  