<app-card>
  @for(book of bookService.books | filter:bookService.filteredTitle:'title';
  track book.id){
  <div class="card w-25 h-25">
    <img
      class="card-img-top rounded w-75 h-75"
      alt="cover image"
      [src]="book.coverImage | slice : 12"
    />
    <div class="card-body">
      <h5 class="card-title">{{ book.title }}</h5>
      <p class="card-text">By {{ book.author }}</p>
      <a (click)="openDetails(book.id)" class="btn btn-primary">For Details</a>
      <a (click)="onDelete(book.id)" class="btn btn-danger">Delete</a>
    </div>
  </div>
  }
</app-card>
