<form (ngSubmit)="onEdit()" [formGroup]="bookForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Title"
        name="title"
        formControlName="title"
      />
      @if(!bookForm.get('title')?.valid && bookForm.get('title')?.touched){
        <span class="help-block">Please enter a title</span>
        }
    </div>
    <div class="form-group col-md-6">
      <label for="author">Author</label>
      <input
        type="text"
        class="form-control"
        id="author"
        placeholder="Author"
        name="author"
        formControlName="author"
      />
      @if(!bookForm.get('author')?.valid && bookForm.get('author')?.touched){
      <span class="help-block">Please enter a author</span>
      }
    </div>
  </div>
  <div class="form-group">
    <label for="publicationYear">Publication year</label>
    <input
      type="number"
      min="1900"
      max="2025"
      class="form-control"
      id="publicationYear"
      placeholder="1976"
      name="publicationYear"
      formControlName="publicationYear"
    />
    @if(!bookForm.get('publicationYear')?.valid && bookForm.get('publicationYear')?.touched){
    <span class="help-block">Please enter a valid publication year</span>
    }
  </div>
  <div class="form-group">
    <select
      class="custom-select"
      name="genre"
      formControlName="genre"
      multiple
    >
      <option value="">Select Genre:</option>
      <option value="Fiction">Fiction</option>
      <option value="Classic">Classic</option>
      <option value="Romance">Romance</option>
      <option value="Adventure">Adventure</option>
      <option value="Fantasy">Fantasy</option>
    </select>
    @if(!bookForm.get('genre')?.valid && bookForm.get('genre')?.touched){
      <span class="help-block">Please select genre</span>
      }
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      id="description"
      rows="3"
      name="description"
      formControlName="description"
    ></textarea>
    @if(!bookForm.get('description')?.valid && bookForm.get('description')?.touched){
    <span class="help-block">Please enter a desription</span>
    }
  </div>
  <button [disabled]="!bookForm.valid" type="submit" class="btn btn-primary">Edit</button>
</form>
