<form (ngSubmit)="onEdit()" #editForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Title"
        name="title"
        #title="ngModel"
        [(ngModel)]="book.title"
        required
      />
      @if(!title.valid && title.touched){
        <span class="help-block">Please enter a title</span>
        }
    </div>
    <div class="form-group col-md-6">
      <label for="author">Author</label>
      <input
        type="text"
        class="form-control"
        id="author"
        placeholder="Author"
        name="author"
        [(ngModel)]="book.author"
        #author="ngModel"
        required
      />
      @if(!author.valid && author.touched){
      <span class="help-block">Please enter a author</span>
      }
    </div>
  </div>
  <div class="form-group">
    <label for="publicationYear">Publication year</label>
    <input
      type="number"
      min="1900"
      max="2025"
      class="form-control"
      id="publicationYear"
      placeholder="1976"
      name="publicationYear"
      [(ngModel)]="book.publicationYear"
      #publicationYear="ngModel"
      required
    />
    @if(!publicationYear.valid && publicationYear.touched){
    <span class="help-block">Please enter a valid publication year</span>
    }
  </div>
  <div class="form-group">
    <select
      class="custom-select"
      name="genre"
      [(ngModel)]="book.genre"
      #genre="ngModel"
      multiple
      required
    >
      <option value="">Select Genre:</option>
      <option value="Fiction">Fiction</option>
      <option value="Classic">Classic</option>
      <option value="Romance">Romance</option>
      <option value="Adventure">Adventure</option>
      <option value="Fantasy">Fantasy</option>
    </select>
    @if(!genre.valid && genre.touched){
      <span class="help-block">Please select genre</span>
      }
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      id="description"
      rows="3"
      name="description"
      [(ngModel)]="book.description"
      #description="ngModel"
      ngModel
    ></textarea>
    @if(!description.valid && description.touched){
    <span class="help-block">Please enter a desription</span>
    }
  </div>
  <button type="submit" class="btn btn-primary">Edit</button>
</form>
